* { padding: 0px; margin: 0px; }

h1, h2, h3 { margin: 10px; }
h1 { font-style:italic; }
body { background-color: #E6E6FA; margin: 0 20px; }
p:first-letter { font-size: 130%; }
section p { margin-left: 20px; }
.contacts {font-size: 16px; background-color: #CCCCCC; }
.about { text-align : justify; }
.about-descr { font-style : italic; margin-left: 50px; }


/* lists */
ul { margin: 10px; }
ul li { display: inline; }
dl { margin: 0 0 20px 20px; }
dl dd { margin-left: 50px; }
.faq dl dt { font-size: 18px; font-weight: bold; margin: 5px 0px; }
.faq dl dt:before { content: "♦ "; }
.contacts dl dt { font-size: 16px; font-weight: bold; }
.contacts dl dd { font-size: 16px; font-style: italic; }

/* links */
a:hover { font-weight: bold; }
a { color: #0000CC; }
ul li a { color: green; }

/* other */
.elepfant-img { text-align : center; }
.copyright:after { content: "™"; }
.form, .contacts, .elephant { display:inline-block; }
.elephant { background-color: #000000; color: #ffffff; }
